<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /login_session
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /login_session/index.php/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /login_session/index.php
</IfModule>